In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('Food.csv')
df

,Name,Price,Place,Color,Cuisine,Taste,Calories,Protein,Qty,Rating
0,Paneer,70,Jaipur,white,Indian,MilkyFlavour,120kcal,yes,1kg,4.4
1,pizza,120,Jaipur,brown,Italian,cheesy,200Kcal,no,1 piece,4.0
2,Pasta,50,Jodhpur,white,Italian,spicy,140kcal,no,2pieces,5.0
3,Dhokla,30,Gujrat,yellow,Gujrati,salty,20kcal,yes,1 plate,2.0
4,Kawab,400,Lucknow,yellow,Arabian,spicy,400kcal,yes,2 plate,3.8
5,cholebatuure,75,Jaipur,white,Indian,spicy,300kcal,yes,2 plate,4.8
6,Burger,50,Indore,yellow,Italian,cheesy,100Kcal,yes,1,4.6
7,Momos,20,Indore,white,Chinese,spicy,200kcal,no,1 plate,4.7
8,lassi,20,Jaipur,white,Punjabi,creamy,10Kcal,yes,1 glass,3.9
9,rajma chawal,100,Punjab,yellow,Punjabi,spicy,50kcal,yes,1,4.1
10,choclate cake,500,Dholpur,yellow,american,creamy,250kcal,no,1,4.9
11,citrus drink,30,agra,yellow,Indian,lemon,0kcal,yes,2,4.5
12,chowmin,45,Jaipur,yellow,chinese,spicy,100kcal,no,5,6.7
13,French Fries,100,Indore,yellow,Frenchy,salty,40kcal,no,4,9.0
14,Gulabjamun,400,Indore,brown,Indian,sweet,120kcal,yes,90,10.0

In [19]:
df.loc[df['Price'].idxmax()]

Name        choclate cake
Price                 500
Place             Dholpur
Color              yellow
Cuisine          american
Taste              creamy
Calories          250kcal
Protein                no
Qty                     1
Rating                4.9
Name: 10, dtype: object

In [24]:
df.loc[df['Price'].idxmin()]

Name          Momos
Price            20
Place        Indore
Color         white
Cuisine     Chinese
Taste         spicy
Calories    200kcal
Protein          no
Qty         1 plate
Rating          4.7
Name: 7, dtype: object

In [30]:
data=df[(df['Place']=='Jaipur') & (df['Color']=='white')]
data

,Name,Price,Place,Color,Cuisine,Taste,Calories,Protein,Qty,Rating
0,Paneer,70,Jaipur,white,Indian,MilkyFlavour,120kcal,yes,1kg,4.4
5,cholebatuure,75,Jaipur,white,Indian,spicy,300kcal,yes,2 plate,4.8
8,lassi,20,Jaipur,white,Punjabi,creamy,10Kcal,yes,1 glass,3.9

In [32]:
data["Name"]

0          Paneer
5    cholebatuure
8           lassi
Name: Name, dtype: object

In [75]:
for x in df.index:
     if df.loc[x,'Rating']==df["Rating"].max():
        print(df.loc[x,'Cuisine'])

Indian

In [56]:
df['Taste'].value_counts()

spicy           6
creamy          2
salty           2
cheesy          2
sweet           1
MilkyFlavour    1
lemon           1
Name: Taste, dtype: int64

In [15]:
df[(df['Taste']=='sweet') & (df['Place']=='Indore')]

,Name,Price,Place,Color,Cuisine,Taste,Calories,Protein,Qty,Rating
14,Gulabjamun,400,Indore,brown,Indian,sweet,120kcal,yes,90,10.0